div{
    background-color: red;
    height: 50px;
}

.container1{
    background-color: green;
    width: 50%;
    font-size: 0.5em;
}

.container2{
    background-color: purple;
    width: 50vw;
    font-size: 1.2rem;
}

.main{
    background-color: orange;
    width: 600px;
    height: 600px;
}

*{
    font-size: 20px;
}