.box{
    background-color: red;
    width: 100px;
    height: 100px;
}
.container{
    background-color: green;
    display: flex;
    justify-content: space-around;
    height: 500px;
    padding: 20px;
}

.container2{
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    margin-top: 10px;
}